<div class="row">
  <div class="col-md-2">
	 <a href="#boardgames/<%= boardgame.get('id') %>">
     <div><%= boardgame.get('title') %></div>
	 <img src="<%= boardgame.get('image') %>" width="auto" height="100px">
	 </a>
	 <div id='avg-rating'></div> <%= boardgame.get('rating') %>
  </div>
  <div class="col-md-10">
	<div>
		<span id='star'></span> <span><%= review.get('title') %></span>
	</div>

    <script>
		var day_<%= review.get('id') %> = moment.utc("<%= review.get('created_at')%>").fromNow();
		$('#reviewDate<%= review.get('id') %>').append(day_<%= review.get('id') %>);
    </script>

	<div><span class="glyphicon glyphicon-time"></span> <span id='reviewDate<%= review.get('id') %>'></span><div>

	<div class="wrapper">
		<%= review.get('body').substr(0, maxLength)%>...
		<a href="#/reviews/<%=review.get('id')%>">Read More</a>
	</div>
  </div>
</div>
