<script>
	var day = moment.utc("<%= review.get('created_at')%>").fromNow();
	$('#userWithDate').append(day)
</script>

<div class="col-lg-3">
	<div id="boardgame-info"></div>
</div>

<div class="col-lg-9">
	    <h1><%= review.get('title')%></h1>
	    <hr>
	    <p>
	        <span class="glyphicon glyphicon-time"></span> <span id="userWithDate">Reviewed by <a href="/#users/<%= user.get('id') %>"><%= user.get('username') %></a> </span></p>
	    <hr>
	    <div id="star"></div>
	    <hr>
		<div class="wrapper-test">
			<%= review.get('body') %>
		</div>

	    <hr>

	    <!-- the comment box -->
		<form role="form">
			<div class="well">
			  <div class="form-group">
			      <textarea class="form-control" rows="3" id="comment-body" name="comment[body]" placeholder="Leave a comment..."></textarea>
			  </div>
			  <div class="form-group">
				  <button type="submit" class="btn btn-primary">Post comment</button>
			  </div>
		    </div>
		</form>

	    <hr>

	    <!-- the comments -->
		<% review.get('comments').each( function(comment) { %>
				<script>
					var day_<%= comment.get('id') %> = moment.utc("<%= comment.get('created_at')%>").fromNow();
					$('#commentDate<%= comment.get('id') %>').append(day_<%= comment.get('id') %>);
				</script>

                <div class="carousel slide testimonials testimonials-v1">
                    <div class="carousel-inner">
                        <div class="item active">
							<p><%= comment.get('body') %></p>
                            <div class="testimonial-info">
                                <img src="assets/fb_profile_pic.png" alt="">
                                <span class="testimonial-author">
									<a href="/#users/<%= comment.get('user').get('id') %>"><%= comment.get('user').get('username') %></a>
                                    <em><span id="commentDate<%= comment.get('id') %>"></span></em>
                                </span>
                            </div>                                
                        </div>
                    </div>
                </div>                    
		<% }) %>
	</div>
</div>
