<div id="boardgame-info"></div>


<h2><%= review.get('title')%></h2>
<h4>Reviewed by: <%= user.get('username') %>  Rating: <div id="star"></div>
Check Rating:<%= review.get('rating') %></h4>
<div class="wrapper-test">
	<%= review.get('body') %>
</div>
<h4>Comments</h4>
	<ul>
		<% review.get('comments').each( function(comment) { %>
			<li><%= comment.get('body') %></li>
		<% }) %>
	</ul>