<div id="boardgame-info"></div>


<h2><%= review.get('title')%></h2>
<h4>Reviewed by: <%= user.get('username') %>  Rating: <div id="star"></div>
Check Rating:<%= review.get('rating') %></h4>
<div class="wrapper-test">
	<%= review.get('body') %>
</div>

<h3>Add a Comment</h3>
<form>
	<input type="text" id= "comment-body" name="comment[body]">
	<input type="submit" value="Add Comment">
</form>

<h3>Comments</h3>
	<ul>
		<% review.get('comments').each( function(comment) { %>
			<li><%= comment.get('body') %></li>
		<% }) %>
	</ul>
