<div class="search-blocks search-blocks-top-sea">
    <div class="row">
        <div class="col-md-3">
        	<a href="#/boardgames/<%=boardgame.id %>">
	        	<h2><%= boardgame.get('title') %></h2>
	            <img class="img-responsive" src="<%= boardgame.get('image') %>"  width="100%"/>
            </a>
            <ul class="list-unstyled">
               <span id='star'></span>
               <li><div id='avg-rating'></div> <%= boardgame.get('rating') %></li>
            </ul>
        </div>
        <div class="col-md-9">
            <p class="game-description"><%= boardgame.get('description') %></p>
        </div>
    </div>                            
</div>