<div class="row border-radius">
	<div class="col-xs-4 col-xs-offset-2">
<a href="#/boardgames/<%=boardgame.id %>"><%= boardgame.get('title') %></a>
<br>
<img src="<%= boardgame.get('image') %>" height="200px" width="auto">
<br>
Average Rating:<div id="star"></div>
<%= boardgame.get('rating') %>
</div>

<div class="col-xs-4">
<%= boardgame.get('description') %>
</div>
</div>
