  <!-- Row of columns -->
  <div class="row-fluid"> <!-- BEGIN ROW -->
    <div class="col-lg-3"> <!-- FIRST COL -->
      <div class="panel panel-default">
        <div class="panel-body"> 
          <h4><%= boardgame.get('title') %></h4>
          <div><img class="pull-left" src="<%= boardgame.get('image') %>" width="100%" height="auto"></div>
          <div style="clear:both;" id="star"></div>
          <p>Current Rating:<%= boardgame.get('rating') %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-9"> <!-- SECOND COL -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Stats</h4>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge"><%= boardgame.get('yearpublished') %></span>
              Year Published
            </li>
            <li class="list-group-item">
              <span class="badge"><%= boardgame.get('boardgamepublisher') %></span>
              Board Game Publisher
            </li>                
            <li class="list-group-item">
              <span class="badge"><%= boardgame.get('minplayers') %></span>
              Minimum Number of Players
            </li>
            <li class="list-group-item">
              <span class="badge"><%= boardgame.get('maxplayers') %></span>
              Maximum Number of Players
            </li>
            <li class="list-group-item">
              <span class="badge"><%= boardgame.get('playingtime') %></span>
              Playing Time
            </li>                
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Description</h4>
        </div>
        <div class="panel-body">
          <p><%= boardgame.get('description') %></p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Reviews <small><a href="#boardgames/<%= boardgame.get('id') %>/reviews/new">Add Review</a><small></h4>
        </div>
        <div class="panel-body">
          <% if (reviews.length > 0) { %>
            <h2>Reviews </h2>
            <%reviews.each(function(review) { %>
                <div class="embedded" id="<%=review.get('id')%>"></div>
            <% }) %>
          <% }else{ %>
            <h4><a href="#boardgames/<%= boardgame.get('id') %>/reviews/new">Be the first to review this Game</a></h4>
          <% } %>
        </div>
      </div>
    </div>    
  </div>
  <!-- END ROW -->
