<h1><%= boardgame.get('title') %></h1>
<div style="width:300px;height:300px" >
   <img src="<%= boardgame.get('image') %>" width="auto" height="300px">
</div>
 <div id="star"></div>Current Rating:<%= boardgame.get('rating') %>
<br>
<h2>Description</h2>
	<%= boardgame.get('description') %>
<br>
<br>
<% if (reviews.length > 0) { %>
	<h2>Reviews <small><a href="#boardgames/<%= boardgame.get('id') %>/reviews/new">Add Review</a><small></h2>
	<%reviews.each(function(review) { %>
			<div class="embedded" id="<%=review.get('id')%>"></div>
	<% }) %>
<% }else{ %>
	<h2>Reviews <small></h2>
	<h4><a href="#boardgames/<%= boardgame.get('id') %>/reviews/new">Be the first to review this Game</a></h4>
<% } %>
