<div class="row">
  <div class="col-md-7">
    <img src="<%= boardgame.get('image') %>" width="auto" height="300px">
    <div id="star"></div>Current Rating:<%= boardgame.get('rating') %>
  </div>
  <div class="col-md-5">
  	<h2><%= boardgame.get('title') %></h2>
		<div class="bs-example">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge"><%= boardgame.get('yearpublished') %></span>
              Year Published
            </li>
            <li class="list-group-item">
              <span class="badge"><%= boardgame.get('boardgamepublisher') %></span>
              Board Game Publisher
            </li>                
            <li class="list-group-item">
              <span class="badge"><%= boardgame.get('minplayers') %></span>
              Minimum Number of Players
            </li>
            <li class="list-group-item">
              <span class="badge"><%= boardgame.get('maxplayers') %></span>
              Maximum Number of Players
            </li>
            <li class="list-group-item">
              <span class="badge"><%= boardgame.get('playingtime') %></span>
              Playing Time
            </li>                
          </ul>
        </div>
  </div>
</div>

<div class="row">
<div class ="col-xs-8 col-xs-offset-2 panel panel-default">
<h2>Description</h2>
	<%= boardgame.get('description') %>
<br>
<br>
<% if (reviews.length > 0) { %>
	<h2>Reviews <small><a href="#boardgames/<%= boardgame.get('id') %>/reviews/new">Add Review</a><small></h2>
	<%reviews.each(function(review) { %>
			<div class="embedded" id="<%=review.get('id')%>"></div>
	<% }) %>
<% }else{ %>
	<h2>Reviews <small></h2>
	<h4><a href="#boardgames/<%= boardgame.get('id') %>/reviews/new">Be the first to review this Game</a></h4>
<% } %>
</div>