<!DOCTYPE html>
<html>
<head>
  <title>GoodBoardsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="http://htmlstream.com/preview/unify/assets/plugins/font-awesome/css/font-awesome.css">
  
  <script type="application/json" id="bootstrapped-current-user-id">
  <% if current_user %>
     {"current_user": <%= current_user.to_json.html_safe %>} 
    <%user_id = current_user.id %>      
  <% else %>
  {"current_user": <%= nil.to_json %>}
    <%user_id = nil %>
  <% end %>
</script>
    <script>
  
  $(document).ready(function(){
    GoodBoardsApp.initialize();
    var current_user = JSON.parse($("#bootstrapped-current-user-id").html())
    console.log(current_user.current_user)
    GoodBoardsApp.user = new GoodBoardsApp.Models.User(current_user.current_user);
    GoodBoardsApp.top = new GoodBoardsApp.Collections.BoardgamesTop();
    GoodBoardsApp.worst = new GoodBoardsApp.Collections.BoardgamesWorst();
    GoodBoardsApp.navbar = new GoodBoardsApp.Views.NavBar();
    GoodBoardsApp.top.fetch({
      success: function() {
        GoodBoardsApp.worst.fetch({
          success: function(){
            $("#navbar").html(GoodBoardsApp.navbar.render().$el);
            $('input#search').typeahead({
                name: 'boardgames',
                valueKey: 'title',
                prefetch: {
                  url: '/api/boardgames/prefetch.json',
            
                  filter: function(data) {
                    retval = [];
                    for (var i = 0;  i < data.length;  i++) {
                            retval.push({
                                    id: data[i].id,
                                    title: data[i].title
                              });
                    }
                      return retval;
                  } 
                }
              });
            $('input#search').on('typeahead:selected', function (object, datum) {
             console.log(datum);
              window.location.href = '/#boardgames/' + datum.id;
             });

            $("input#search").on("keypress", function(event) {
              if(event.which == 13) {
                event.preventDefault();
                window.location.href= '/#boardgames/' + ($("input#search").val());
            }
       });
          }
        })
      }
    });
  });
  </script>
</head>

<body>

<div class="container">

<%= yield %>
</div>
</body>
</html>
